<div class="form-group">
	<div class="form-row">
		<div class="col-md-12">
			<a href="/documentation/create"class="btn btn-primary">
				<i class="fa fa-fw fa-book"></i> Create Documentation Page
			</a>
		</div>
	</div>
</div>
<!-- list of documents for this project -->
{{#if data.documents}}
	<div class="form-group">
		<div class="form-row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<caption>List of document pages</caption>
					<thead>
					<tr>
						<th scope="col">index</th>
						<th scope="col">Title</th>
						<th scope="col">Content of Document</th>
						<th scope="col">Created By</th>
						<th scope="col">DocumentID</th>
						<th scope="col">Options</th>
					</tr>
					</thead>
					<tbody>
					{{#each data.documents}}
						<tr>
							<th scope="row">{{@index}}</th>
							<td>
								{{title}}
							</td>
							<td>
								{{documentContent}}
							</td>
							<td>
								{{createdBy}}
							</td>
							<td>
								{{_id}}
							</td>
							<td>
								<a href="/documentation/{{_id}}/create" class="btn btn-primary">
									Edit
								</a>
								<button type="button" class="btn btn-success">Detail</button>
							</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{{else}}
	{{#ifeq user.role 'student' }}
		<div class="form-group">
			<div class="form-row">
				<h5>You do not have any project yet. Please enroll in a project or contact with your teacher</h5>
			</div>
		</div>
	{{/ifeq}}
	{{#ifeq user.role 'teacher' }}
		<div class="form-group">
			<div class="form-row">
				<h5>You do not have any project yet. Please create project and add your students in the project then generate it</h5>
			</div>
		</div>
	{{/ifeq}}
{{/if}}
