{{#if profileSubmitted}}
	{{{flashMessages messages.success}}}
{{else}}
<div class="card">
	<h5 class="card-header">Name: {{user.name.first}} {{user.name.last}}</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-3">
				<img class="d-flex mr-3" src="http://placehold.it/180x180" alt="profile photo">
			</div>
			<div class="col-sm-8">
				<form action="/photoUpload" method="post" enctype="multipart/form-data">
					<input type="file" name="myPhoto" >
					<input type="submit" value="Upload Photo" class="btn btn-primary">
				</form>
			</div>
		</div><hr>
		<form method="post" enctype="multipart/form-data">
			<input type="hidden" name="action" value="add.aboutMe">
			<div class="form-group row">
				<label for="aboutMe" class="col-md-2"><h5>About Me:</h5></label>
				<div class="col-sm-10">
					<textarea name="aboutMe" class="form-control" rows="2" placeholder="Write down something about you.......">{{user.aboutMe}}</textarea>
				</div>
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary col-sm-2">Add/update</button>
				</div>
			</div>
		</form>
	</div>
</div>
{{/if}}

<!--
<h3>Name:  {{!--user.name.first}} {{user.name.last}}</h3>
<h3>Email: {{user.email}}</h3>
<h3>Institution: {{user.institution}}</h3>
<h3>Institution Type: {{user.institutionType}}</h3>
<h3>You are a {{user.role--}}</h3>-->
